.registration-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #939292;
}

.registration-wrapper {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

.registration-form {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  border-radius: 10px;
  border: 3px solid #eee;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px 0px rgb(255, 255, 255);
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.registration-form-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.registration-form-title {
  color: #000;
  font-family: "Hammersmith One", sans-serif;
  text-align: center;
  width: 100%;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1.75px;
  padding: 10px 0px;
}

.registration-input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 15px;
}

.registration-form-group {
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  gap: 2px;
  padding-bottom: 10px;
  width: 100%;
}

.registration-form-label {
  color: #000;
  font-family: "Hammersmith One", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.registration-input-wrapper {
  display: flex;
  width: 100%;
  padding: 5px;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 2px solid #33333329;
  position: relative;
}

.registration-form-input {
  width: 100%;
  padding: 1px 5px;
  border: none;
  outline: none;
  background: transparent;
  font-family: "Hammersmith One", sans-serif;
  font-size: 12px;
  color: #000;
  opacity: 0.4;
}

.registration-password-hint {
  color: #000;
  font-family: "Hammersmith One", sans-serif;
  font-size: 14px;
  opacity: 0.7;
}


.optional-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.registration-button-wrapper, .back-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.registration-submit-button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.registration-submit-button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.registration-submit-button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.registration-error-message {
  color: #ff0000;
  font-family: "Hammersmith One", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.registration-success-message {
  color: #000;
  font-family: "Hammersmith One", sans-serif;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

@media (max-width: 991px) {
  .registration-form {
    padding: 15px;
  }

  .registration-form-title {
    font-size: 30px;
  }

  .registration-input-wrapper {
    padding: 12px;
  }
}

@media (max-width: 640px) {
  .registration-form {
    padding: 10px;
  }

  .registration-form-title {
    font-size: 25px;
  }

  .registration-input-wrapper {
    padding: 10px;
  }

  .registration-submit-button {
    padding: 12px 8px;
  }
}