.registration-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.registration-wrapper {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

.registration-form {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  border-radius: 10px;
  border: 3px solid #eee;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.form-title {
  color: #000;
  font-family: "Hammersmith One", sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.75px;
  padding: 10px 0px;
}

.form-group {
  display: grid;
  padding: 5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.form-label {
  color: #000;
  font-family: "Hammersmith One", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.input-wrapper {
  display: flex;
  width: 100%;
  padding: 5px;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 2px solid #333;
  position: relative;
}

.form-input {
  width: 100%;
  padding: 10px 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: "Hammersmith One", sans-serif;
  font-size: 15px;
  color: #000;
  opacity: 0.4;
}

.calendar-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
}

.dropdown-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
}

.password-hint {
  color: #000;
  font-family: "Hammersmith One", sans-serif;
  font-size: 14px;
  opacity: 0.7;
}

.button-wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.submit-button {
  padding: 15px 10px;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.11);
  border: none;
  cursor: pointer;
  color: #000;
  font-family: "Hammersmith One", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  background-color: #eee;
}

@media (max-width: 991px) {
  .registration-form {
    padding: 15px;
  }

  .form-title {
    font-size: 30px;
  }

  .input-wrapper {
    padding: 12px;
  }
}

@media (max-width: 640px) {
  .registration-form {
    padding: 10px;
  }

  .form-title {
    font-size: 25px;
  }

  .input-wrapper {
    padding: 10px;
  }

  .submit-button {
    padding: 12px 8px;
  }
}