.HeaderNos {
  background-color: rgba(237, 237, 237, 1);
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  justify-content: start;
}

.HeaderNos-nav-container {
  border-radius: 10px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-self: stretch;
  display: flex;
  min-width: 240px;
  width: 100%;
  margin: auto;
  padding: 10px;
  align-items: stretch;
  gap: 10px;
  overflow: hidden;
  justify-content: start;
  flex-wrap: wrap;
  flex: 1 1 0%;
}

.HeaderNos-logo-section {
  display: flex;
  min-width: 240px;
  padding: 5px;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  justify-content: center;
  height: 100%;
}

.HeaderNos-logo-wrapper {
  align-self: stretch;
  display: flex;
  margin: auto;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  justify-content: start;
  width: 45px;
}

.HeaderNos-logo-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 45px;
  align-self: stretch;
  margin: auto;
}

.HeaderNos-site-title {
  align-self: stretch;
  width: 191px;
  margin: auto;
  padding: 6px 0;
  gap: 10px;
  overflow: hidden;
  font-family: "Hammersmith One", -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 20px;
  color: rgba(51, 51, 51, 1);
  font-weight: 400;
}

.HeaderNos-nav-links {
  opacity: 50%;
  align-self: start;
  display: flex;
  min-width: 240px;
  padding: 10px;
  align-items: start;
  gap: 25px;
  overflow: hidden;
  justify-content: end;
  flex-wrap: wrap;
  flex: 1 1 0%;
}

.HeaderNos-nav-link {
  display: flex;
  padding: 0 5px;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  justify-content: center;
  text-decoration: none;
}

.HeaderNos-nav-icon-wrapper {
  align-self: stretch;
  display: flex;
  margin: auto;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  width: 40px;
}

.HeaderNos-nav-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 40px;
  align-self: stretch;
  margin: auto;
}

.HeaderNos-nav-text {
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: "Hammersmith One", -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 400;
  align-self: stretch;
  margin: auto;
}

@media (max-width: 991px) {
  .HeaderNos-nav-container {
    max-width: 100%;
  }

  .HeaderNos-nav-links {
    max-width: 100%;
  }
}