.site-header {
  background-color: rgba(237, 237, 237, 1);
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  justify-content: start;
}

.main-nav {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-self: stretch;
  display: flex;
  min-width: 240px;
  margin: auto 0;
  width: 100%;
  padding: 10px;
  align-items: stretch;
  gap: 10px;
  overflow: hidden;
  justify-content: start;
  flex-wrap: wrap;
  flex: 1 1 0%;
}

.brand-container {
  display: flex;
  min-width: 240px;
  padding: 5px;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  justify-content: center;
  height: 100%;
}

.logo-wrapper {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  justify-content: start;
  width: 45px;
}

.logo-image-HeaderSessionStarted {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 30px;
  align-self: stretch;
  margin: auto 0;
}

.site-title {
  align-self: stretch;
  width: 191px;
  margin: auto 0;
  padding: 6px 0;
  gap: 10px;
  overflow: hidden;
  font-family: "Hammersmith One", -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 20px;
  color: rgba(51, 51, 51, 1);
  font-weight: 400;
}

.nav-links {
  align-self: start;
  display: flex;
  min-width: 240px;
  padding: 10px;
  align-items: start;
  gap: 25px;
  overflow: hidden;
  justify-content: end;
  flex-wrap: wrap;
  flex: 1 1 0%;
}

.nav-item {
  display: flex;
  padding: 0 5px;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  justify-content: center;
  text-decoration: none;
}

.nav-icon-wrapper {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  width: 40px;
}

.nav-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 40px;
  align-self: stretch;
  margin: auto 0;
}

.nav-text {
  color: rgba(51, 51, 51, 1);
  font-size: 15px;
  font-family: "Hammersmith One", -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 400;
  align-self: stretch;
  margin: auto 0;
}

.user-profile {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  padding-left: 20px;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.user-name {
  color: rgba(51, 51, 51, 1);
  font-size: 15px;
  font-family: "Hammersmith One", -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  align-self: stretch;
  margin: auto 0;
}

.user-icon-wrapper {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 45px;
}

.user-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 45px;
}

/* @media (max-width: 991px) {
  .main-nav {
    max-width: 100%;
  }

  .nav-links {
    max-width: 100%;
  }
} */